@import './vendors/bootstrap.scss';

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';


@import './skills-solar/skills';


@media screen and (min-width: 1000px) {
  .profile-pic {
    height: 70%;
    width: auto;
  }

  .about-wrapper__info {
    padding-left: 20%;
  }
}

@media screen and (max-width: 1000px) {

  .profile-pic {
    display: none;
  }
}